__pycache__/
*.pyc

.jupyter_runtime/
.tmp_jupyter_runtime/
cuadernos/.ipynb_checkpoints/

salidas/
tmp_revision/
recursos/
presentacion/
guiones/generar_cuaderno.py
guiones/construir_recursos_presentacion.py
